<h1>About this web application</h1>

<p> This is just simple web application I built using Ruby on Rails as the framework. The code base is available to public here:  <a href="https://github.com/davidmoradi/alpha-blog"> GitHub </a>
</p>

<%= link_to 'Home', root_path %>